body {
    font-family: sans-serif;
    width: 21.59cm; 
    height: 27.94cm; 
    margin: auto;
    padding: 20px;
    border: 1px solid #e0e0e0ec; 
    box-sizing: border-box;
    background-color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #006ba6;
    color: white;
    height: 13vh;
    
}

.nav-text {
    margin-top: 1%;
    margin-right: 5%;
}

.nav-text h1{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0%;
}

.nav-text h6{
    font-size: 1.3rem;
    margin-top: 0px;
    text-align: right;
}

.codigoBarras {
    display: flex;
    justify-content: center; 
}

.codigoBarras img {
    width: 80%; 
}

.info-container {
    display: flex;
    margin: 5px;
    gap:5px;
}

.info-box {
    background-color: #d9f1ff;
    border: 2px solid  #006ba6;
    border-radius: 12px;
    overflow: auto;
    width: 30%;
    height: fit-content;
}
.table-box {
    width: 100%;
    border-collapse: collapse; 
}

.table-box td {
    padding: 10px; 
    text-align: left; 
    height: 8px;
    font-size: 11.5px;
}

.table-box tr:nth-child(even) {
    background-color:  #99c2e6;
}

.table-box tr:nth-child(odd) {
    background-color: #ffffff; 
}

.valor-box {
    background-color: #006ba6;
    color: white;
    border-radius: 12px;
    width: 40%;
    margin: 1px;
}

.valor-box h2{
    margin-bottom: 0px;
    font-size: 1rem;
}

.valor-box h3{
    margin: 0 0 10px 0;
    font-size: 1rem;
}


ul {
    
    padding-left: 40px; 
}

ul li {
    display: flex;
    justify-content: space-between;
    position: relative;
}

ul li::before {
    content: "•";                
    margin-right: 3px;         
    color:white;                
    font-size: 12px;            
    position: absolute;
    left: -24px;                 
}

ul li strong {
    margin-right: 50px;
    font-size: 0.8rem
}

ul li span {
    text-align: left;
    min-width: 150px;
    font-size: 0.8rem;
    margin: 0 35px 0 -15px;
}




.title1 {
    justify-content: center;
    color: white;
    display: flex;
    background-color: #006ba6;
    border-radius: 12px 12px 0 0;
    padding: 5px;
    margin-top: 0%;
}

.logo {
    width: fit-content;
    max-width: 350px;
}


.container {
    background-color: white;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.flex-container {
    display: flex;
    gap: 7px;
}

.note {
    width: 48%; /* Ajusta el ancho para que las dos columnas ocupen el espacio correctamente */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Asegura que el contenido esté distribuido uniformemente */
}

.note p {
    margin-top: 0px;
    font-size: 0.9em;
    color: #555;
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
    height: 73%;
}

.info-valores {
    border-radius: 5px;
    width: 100%;
    height: 40%;
    align-content: center;
    text-align: center;
}

.info-valores span {
    text-align: center;
    font-weight: bold;
}


.bold {
    font-weight: bold;
}



